In [1]:
#Importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn as sk

In [2]:
#Importing the training dataset
globalHealthDataFrame= pd.read_csv('s3://rmit-ml-2020s1-lab-data/Assignment1_data/train.csv',
            delimiter=',')

In [3]:
#Removing ID column from the daraframe
modified_globalHealthDataFrame = globalHealthDataFrame.drop(['ID'], axis=1)

In [4]:
modified_globalHealthDataFrame.describe()

,TARGET_LifeExpectancy,Country,Year,Status,AdultMortality,AdultMortality-Male,AdultMortality-Female,InfantDeaths,Alcohol,PercentageExpenditure,...,Polio,TotalExpenditure,Diphtheria,HIV-AIDS,GDP,Population,Thinness1-19years,Thinness5-9years,IncomeCompositionOfResources,Schooling
count,2071.000000,2071.000000,2071.000000,2071.000000,2071.000000,2071.000000,2071.000000,2071.000000,2071.000000,2071.000000,...,2071.000000,2071.000000,2071.000000,2071.000000,2071.000000,2.071000e+03,2071.000000,2071.000000,2071.000000,2071.000000
mean,69.274505,95.360212,2009.518590,0.185418,162.833897,161.908257,163.759536,33.079672,4.696379,764.540216,...,82.727185,5.883858,82.753259,1.632883,7352.742342,1.203741e+07,4.941284,4.977306,0.609551,3.372453
std,9.482281,54.861641,4.614147,0.388730,118.872170,119.442235,118.800292,135.832868,4.205888,2081.880374,...,23.188837,2.554965,23.130969,4.782325,15219.978663,6.391797e+07,4.697830,4.785532,0.216532,0.590832
min,37.300000,0.000000,2002.000000,0.000000,1.000000,0.000000,2.000000,0.000000,0.010000,0.000000,...,3.000000,0.370000,2.000000,0.100000,1.880000,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,63.000000,50.000000,2006.000000,0.000000,74.000000,74.000000,74.000000,0.000000,0.615000,5.848550,...,77.000000,4.190000,78.000000,0.100000,413.730000,1.274450e+05,1.600000,1.500000,0.463000,3.065942
50%,71.200000,94.000000,2010.000000,0.000000,144.000000,142.000000,144.000000,3.000000,3.830000,69.020425,...,93.000000,5.640000,93.000000,0.100000,1410.670000,6.522310e+05,3.200000,3.300000,0.655000,3.449638
75%,76.000000,144.000000,2014.000000,0.000000,228.000000,228.000000,230.000000,22.000000,7.840000,430.190047,...,97.000000,7.430000,97.000000,0.800000,5811.295000,5.371104e+06,7.400000,7.400000,0.769500,3.741657
max,92.700000,192.000000,2017.000000,1.000000,699.000000,704.000000,722.000000,1800.000000,17.870000,19479.911610,...,99.000000,17.600000,99.000000,50.600000,133473.470000,1.293859e+09,27.700000,28.600000,0.948000,4.381780

In [10]:
#Define X(input) Y(Output) variables
X = modified_globalHealthDataFrame[modified_globalHealthDataFrame.columns[1:23]]
Y = modified_globalHealthDataFrame[['TARGET_LifeExpectancy']]

In [11]:
# create testing and training data for features
from sklearn.model_selection import train_test_split

trainX, testX, trainY, testY = train_test_split(np.array(X), np.array(Y), test_size=0.2)
print(trainX.shape)
print(testX.shape)
print(trainY.shape)
print(testY.shape)

(1656, 22)
(415, 22)
(1656, 1)
(415, 1)

In [23]:
from sklearn import linear_model
linReg = linear_model.LinearRegression(normalize=False)
linReg.fit(trainX, trainY)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [24]:
print(linReg.intercept_)
print(linReg.coef_)

[-62.14857613]
[[ 3.48370538e-03  5.87266125e-02  2.51605297e+00 -6.64807819e-03
   1.40634290e-03 -1.47024993e-02  1.01054278e-01  2.09978294e-01
  -1.68726731e-05 -5.08002623e-06  3.18852439e-02 -7.47070556e-02
   1.51582709e-02 -4.51776360e-02  3.51953322e-02 -4.84940492e-01
   4.79403919e-05 -2.02469566e-09 -6.28951387e-02 -5.43473392e-02
   6.43828751e+00  2.09490975e+00]]

In [25]:
predYRm = linReg.predict(testX)

In [22]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
print('Mean squared error ', mean_squared_error(testY, predYRm))
print('Mean absolute error ', mean_absolute_error(testY, predYRm))
print(r2_score(testY, predYRm))

Mean squared error  20.33178290568664
Mean absolute error  3.5415187765721186
0.775736343063415

In [26]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
print('Mean squared error ', mean_squared_error(testY, predYRm))
print('Mean absolute error ', mean_absolute_error(testY, predYRm))
print(r2_score(testY, predYRm))

Mean squared error  20.33178290585218
Mean absolute error  3.5415187766072336
0.775736343061589